<div class="menu-item-card">
    <div class="menu-header">
        <img class="menu-image" src="/images/menu/{{menuData.file_name}}"/>
        <h3>{{menuData.menuItem_name}}</h3>
    </div>
    <div class="menu-body">
        <h6>{{menuData.description}}</h6>
  </div>

   <div class="menu-footer">
        <h6 class="wait-time">Wait time after gifting: {{menuData.time_to_prepare}} minutes</h6>
   </div>

</div>