// partials/menu_item_details.handlebars
<div class="menu-item-card">
    <div>
        <img src="/images/menu/grilled-chicken-1334632_640.jpg"/>
    <h3>{{menuItem_name}}</h3>
    <h6>{{description}}</h6>
    
  
  </div>
</div>