


 {{#if noRecords}}
<div class="plate-header">
<h1>Thank you, all the needs are being met.</h1>

</div>
 {{else}}
 <div class="plate-header">
<h1>Unmet need, please select what you can</h1>

</div>
<div class="row">
  
    
    <div class="menu-container">
      
    {{#each plateItems as |item|}}
     
      {{> plate_item_details}}
    {{/each}}
    </div>
</div>
{{/if}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/order.js"></script> 