<div class="row">

    <div class="homePageMessage">
      <h1>This is a take out restarant with the heart of food bank</h1>
      <h3>A place where recievers and gifters enjoy our plates. People post their needs and the givers see a room of choices where they can
pick options to pay for that will then be delivered by us.</h3>
 <h2>End hunger and indignity on the same plate.</h2>
    </div>
  </div>
</div>