<!-- Loop over each object in the projects array -->

<div class="row mb-4 project">
  <div class="col-md-5">
    
    
  </div>
  <div class="col-md-7">
    <p>
      A cross between a food bank and take out restarant where recievers and gifters logon to the site. People post thier needs and the givers see a room of choices where they can
pick options to pay for that will then be delivered by our service to our clients in need.
    </p>
  </div>
</div>

