
<div class="plate-header">
<h1>Your order has been placed</h1>
</div>
<div >
<h3>You will be notified as soon a someone gifts your order.</h3>
</div>
<div>
    <button class="btn btn-primary user-footer-button" id="cancel"  onclick="deleteItem('{{plateData.id}}')">Cancel</button>
</div>

<div class="row">
  <div class="col-4">
    <div class="menu-container">
      {{> menu_item_view}}
   </div>
    </div>
      <div class="col-8">
    <div class="user-container">
      {{> user_view}}
   </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/order.js"></script>