<div class="row">
  <div class="col-12 plate-header">
  
  </div>
    <h1>Select from our menu</h1>
    <div class="menu-container">
    {{#each menuItems as |item|}}
      {{> menu_item_details}}
    {{/each}}
    </div>
</div>