
<div class="row plate-header">
  <div class="col-12"></div>
    <h1>Your order has been placed</h1>
     <h3>You will be notified as soon a someone gifts your order.</h3>
  </div>
  <div class="col-12"></div>
       <button class="btn btn-primary menu-cancel" id="cancel"  onclick="deleteItem('{{plateData.id}}')">Cancel Order</button>
  </div>
</div>

<div>
  
</div>

<div class="row user-view-container">
  <div class="col-4">
    <div class="menu-container">
      {{> menu_item_view}}
   </div>
    </div>
      <div class="col-8">
    <div class="user-container">
      {{> user_view}}
   </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/order.js"></script>