<div class="row">
  <div class="col-12 login-container">
    <h2 class="login-title">Create Profile</h2>
<form class="form profile-form">
    <div class="form-group">
        <label for="giver">Giver</label>
        <input type="radio" id="giver-signup" name="role" value="3">
        <label for="receiver">Receiver</label>
        <input type="radio" id="receiver-signup" name="role" value="2" checked="checked">
    </div>
    <div class="form-group">
        <label for="first-name-signup">First Name:</label>
        <input class="form-input" type="text" id="first-name-signup" required />
    </div>
    <div class="form-group">
        <label for="last-name-signup">Last Name:</label>
        <input class="form-input" type="text" id="last-name-signup" required />
    </div>
    <div class="form-group">
        <label for="address-signup">Address:</label>
        <input class="form-input" type="text" id="address-signup" required />
    </div>
    <div class="form-group">
        <label for="city-signup">City:</label>
        <input class="form-input" type="text" id="city-signup" required />
    </div>
    <div class="form-group">
        <label for="state-signup">State:</label>
        <input class="form-input" type="text" id="state-signup" required />
    </div>
    <div class="form-group">
        <label for="zip-signup">Zip Code:</label>
        <input class="form-input" type="text" id="zip-signup" required />
    </div>
    <div class="form-group">
        <label for="phone-signup">Phone Number:</label>
        <input class="form-input" type="text" id="phone-signup" required />
    </div>
    <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="email" id="email-signup" required />
    </div>
    <div class="form-group">
        <label for="password-signup">Password (Minimum 6 characters):</label>
        <input class="form-input" type="password" id="password-signup" minlength="6" required />
    </div>
    <div class="form-group">
          <h4 class="error-message" id="error-message"  ></h4>
        <button class="btn btn-primary" type="submit">Sign Up</button>
          
    </div>
</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/profile.js"></script>
