{{#each menuInquiry}}
<h1> <!-- it knew to find Restaurant-Routes.js because of "restaurant" on line 17?  -->
    Restaurant
</h1>
<p>
{{resturantInquiry}}
</p>
<p>
{{menuInquiry}}
</p>
{{/each}}
<!-- read more link for menu array? -->