<div class="row">
    <div class="col-12">
        <section>    
            <header class="context-form" ></header>

            <h1 class="thankyou">Thank you for your inquiry!</h1>
            <h2 class="replyback">We will respond back soon! </h2>
        </section>
        
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>