<div class="row contact-form">
    <div class="col-12">
            

            <h2 class="thankyou">Thank you for your inquiry!</h2>
            <h3 class="replyback">We will respond back soon! </h3>
        
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>