
.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
  background-color: rgba( 255,255,255, 0.75);
  border-radius: 50px;
  padding: 10px;
  z-index: 1000;
}
/* Style the video element */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.cost {
  margin:5px;
  color: red;
  font-size: 120%;
}

@keyframes flashLogin {
0% { color: white; }
50% { color: lightblue; }
100% { color: green; }
}

.thankyou {
  font-size: 80px;
  display: flex;
  flex-direction: row;
  flex: content;
  justify-content: center;
  color:black
}
.replyback {
  font-size: 80px;
  display: flex;
  flex-direction: row;
  flex: content;
  justify-content: center;
  color:black
}

.user-circle {
  display: inline-block;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  background-color: #aaa; /* Background color of the circle */
  text-align: center;
  line-height: 40px; /* Vertically center icon */
}

.loggedIn {
  color: blue;
}

.loggedOut {
  color: black;
}

.user {
  color: blue;
}

.noUser {
  color: white;
  animation: flashLogin 1s infinite alternate;
}

.homePageMessage {
  display: relatuve;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 25px;
  top: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  z-index: 500;
}


.homePageMessage h1, h2 {
  color: darkblue;
  z-index: 1000;
  
}

.homePageMessage h3 {
  margin: 3px;
  padding: 5px;
  color: black;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  z-index: 1000;
  
}

.error-message{
  color: red;
  font-style: italic;
}

.login-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  margin-left: 5%;
  margin-right: 5%;
  
  top: 50px;
  width: 100%;
  z-index: 500;
}

.login-form {
  text-align: center;
  padding: 10px;
  width: 50%;
  max-width: 500px;
  padding-bottom: 25px;
  background-color: rgba(255,255,255, 0.75);
  z-index: 500;
    
}

.form-group {
width: 100%;
}

.form-group label {
  font-weight: bold;
}

.dropdown-toggle {
  color: lightblue;
}
h2.login-title, label, a.nav-link {
  font-family: "Freeman", sans-serif;
  font-weight: large;
}

a.nav-link {
  font-weight: bolder;
  color: lightblue;
}

.btn-primary {
  transition-duration: 0.4s;
  background-color: gray;
  border: 2px solid black;
}

.btn-primary:hover {
  background-color: #04AA6D !important;
  color: white;
}

a.nav-link:hover {
  background-color: grey;
  color: white;
  border-radius: 5px;
}

.login-title {
display: flex;
justify-content: center;
text-align: center;
padding: 5px;
width: 100%;
}



.logo {
width: 210px;
height: 180px;
margin-right: 50px;
}

.plate-header {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 50px 0px 30px 0px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Apply drop shadow */
  width: 100%;
  z-index: 100;
  
}


.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 150px; 
  margin-right: 10px;
  margin-left: 10px;
}

.form-row input {
  flex: 1; /* Takes the remaining space */
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 500;
}

.menu-item-card {
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin: 10px;
width: 30%;
background-color: rgba(220, 220, 220, 1);
border-radius: 50px;
z-index: 500;
}

.menu-header {
display: block;
height: 150px;
border-radius: 50px 50px 0px 0px;
}

.menu-header img {
display: block;
width: 100%;
height: 150px;
border-radius: 50px 50px 0px 0px;
}

.menu-header h3 {
position: relative;
top: -50px;
padding: 10px;
color: white;
}

.menu-body {
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin: 10px


}

.menu-item-card h6 {
color: black;
}

.menu-footer {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
padding-bottom: 20px;

}

.menu-footer h6.wait-time {
color: red;
font-style: italic;
}

.menu-footer button {
width: 50%;
}

.user-footer-button {
  justify-content: end;
  width: 120px;
  }

.form-group {
  align-items: end;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.form-group label {
  font-weight: bold;
}

.login-title {
  width: 100%;
}


.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
border-radius: 50px;
  
}

.logo {
  width: 210px;
  height: 180px;
  margin-right: 50px;
}



.plate-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
}

.plate-item-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  background-color: rgba(255, 235, 255, 1);
  border: black solid 1px;
  border-radius: 50px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Apply drop shadow */
  z-index: 500;
}

.menu-cancel {
  position: relative;
  margin: 0px 25% 10px 25%;
  width: 50%;
  z-index: 1000;
}

  
.menu-item-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  background-color: rgba(255, 235, 255, 1);
  border: black solid 1px;
  border-radius: 50px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Apply drop shadow */
  z-index: 500;
}


.menu-image {
  width: 100%;
  overflow: hidden;


}

.user-view-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

.user-item-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  width: 100%;
  
  background-color: rgba(255, 235, 255, 1);
  border: black solid 1px;
  border-radius: 50px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Apply drop shadow */
  z-index: 1000;
}


.navbar-toggler {
  color: white ;
}



.navbar-header{
  background-color: rgba(0, 0, 0, 0.2);
}


.navbar-scroll {
  box-shadow: none;
}

.navbar-scrolled {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}


@media (max-width: 450px) {
  #intro {
    height: 950px !important;
  }
  .homePageMessage {
      top: 50px;
  }
  
}

@media (min-width: 550px) and (max-width: 750px) {
  #intro {
    height: 1100px !important;
  }
  .user-view-container {
    flex-direction: column;
  }
  
  .menu-item-card {
    width: 100%;
    }
    
}


@media (min-width: 800px) and (max-width: 990px) {
  #intro {
    height: 600px !important;
  }
}

.display-1 {
  font-weight: 500 !important;
  letter-spacing: 40px;
}

.login-container {
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
  
}
@media (min-width: 1600px) {
  .display-1 {
    font-size: 10rem;
  }
}